.container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #012a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  font-weight: 700;
  letter-spacing: 15px;
  text-transform: uppercase;
}

.home {
  background-color: #012a4a;
}
.email {
  background-color: #013a63;
}
.calendar {
  background-color: #01497c;
}
.profile {
  background-color: #014f86;
}
.settings {
  background-color: #2a6f97;
}
