@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
